@import "/node_modules/mdb-angular-ui-kit/assets/scss/free/variables";
@import "../../../assets/style/variables";


$waterMarkColor: $color-2;

.color-main{
    color: $color-3;
}

.bg-second{
    background-color: $color-1;
}

.user-profile{
    background: $color-2;
    .user-name{
        font-size: 1rem;
        text-transform: none;
    }
    app-talking-avatar{
        font-size: 1rem;
        text-transform: none;
    }
}

.dropdown-menu{
    top: 100%;
    right:0px;
    margin-top: 10px;

    fa-icon{
        color: #a5d75a;
    }
}

.app-name{
    font-size: 3rem;
    font-family: snesFont !important;
    line-height: 0.8;
    color: $waterMarkColor;
}

.top-bar-container{
    z-index: 20;
}