<div class="card mx-3 user-form-container">
    <div class="card-body">

        <div *ngIf="UserFormLayout.LOGIN!==layout" class="mb-3 d-flex align-items-center">
            <app-talking-avatar class="me-2" [animal]="selectedAvatar"></app-talking-avatar>
            <div class="fw-light"> Selected avatar </div>
            <div class="d-flex flex-grow-1 flex-row-reverse"><button type="button" class="btn btn-sm btn-tertiary me-2"
                    (click)="changeAvatarHandler()">change</button></div>
        </div>

        <mdb-form-control class="mb-3 username-input d-flex align-items-center">
            <input mdbInput [(ngModel)]="username" type="email" id="email" class="form-control" 
                placeholder="username@example.com" aria-label="username@example.com" (focusout)="onFocusOutHandler()"
                (focus)="onFocusHandler()" />
            <label mdbLabel class="form-label" for="email">Username</label>
            <ng-container *ngIf="showUsernameState">
                <div [ngSwitch]="usernameState">
                    <div *ngSwitchCase="UsernameState.USED" class="warning-username me-2">used!</div>
                    <div *ngSwitchCase="UsernameState.NOT_USED"  class="ok-username me-2"><fa-icon class=" fa-lg" [icon]="checked"></fa-icon></div>
                    <div *ngSwitchCase="UsernameState.NOT_VALID" class="warning-username me-2"><fa-icon class=" fa-lg" [icon]="invalid"></fa-icon></div>
                </div>
            </ng-container>
        </mdb-form-control>

        <mdb-form-control class="mb-3 d-flex">
            <input mdbInput [(ngModel)]="password" [type]="getPasswordType()" id="password" class="form-control" />
            <label mdbLabel class="form-label" for="password">Password</label>
            <button *ngIf="!passwordVisible" type="button" class="btn btn-sm btn-tertiary me-2"
                (click)="showHandler()">Show</button>
            <button *ngIf="passwordVisible" type="button" class="btn btn-sm btn-tertiary me-2"
                (click)="hideHandler()">Hide</button>
        </mdb-form-control>

        <div *ngIf="UserFormLayout.CREATE===layout || UserFormLayout.EDIT===layout" class="form-check form-switch mb-3">
            <label class="form-check-label fw-light" for="flexSwitchCheckDefault">Set password to change at first
                login</label>
            <input mdbCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
        </div>

        <ng-container [ngSwitch]="layout">
            <div *ngSwitchCase="UserFormLayout.LOGIN" class="d-flex">
                <a class="btn btn-info me-3" (click)="loginHandler()">Login</a>
                <button type="button" class="btn btn-tertiary" mdbRipple
                    (click)="changeLayout(UserFormLayout.REGISTER)">Register?</button>
            </div>
            <div *ngSwitchCase="UserFormLayout.REGISTER" class="d-flex justify-content-end">
                <button type="button" class="btn btn-tertiary" mdbRipple
                    (click)="changeLayout(UserFormLayout.LOGIN)">Already registered?</button>
                <a class="btn btn-info ms-3" (click)="registerHandler()">Register</a>
            </div>
            <div *ngSwitchDefault class="d-flex justify-content-end">
                <button type="button" class="btn btn-tertiary" mdbRipple>Cancel</button>
                <a class="btn btn-info ms-3">Save</a>
            </div>
        </ng-container>

    </div>
</div>