@import "/node_modules/mdb-angular-ui-kit/assets/scss/free/variables";
@import "../../../assets/style/variables";


:host{
    display: flex;
    flex-flow: column;
    align-items: end;
    width: 100%;
}

.warning-username{
    color: orangered;
    font-weight: normal;
}

.ok-username{
    color: limegreen;
}

.inactive{
    pointer-events:none;
    background: #efefef;
}

.user-form-container{
    min-width: 400px;    
}
