<div class="login-container d-flex h-100 align-items-center">
    <div class="p-2 align-self-center col-md-4">
        <div class="app-name" >
            User Manager APP
        </div>
    </div>
    <div class="position-relative w-100 h-100 m-3">
        <div class="position-absolute circle-mark">

        </div>
        <div class="w-100 position-absolute h-100 d-flex flow-column justify-content-center align-items-center">
            <app-user-form></app-user-form>
        </div>
    </div>

</div>
