<div class="dashboard-container d-flex h-100 align-items-center">
    <div class="p-2 align-self-center">
        <div class="app-name">
            list Users
        </div>
    </div>
    <div class="w-100 h-100 p-3 d-flex">
        <div class="mx-auto p-3 w-100 h-100 align-self-center d-flex flex-column align-items-stretch flex-wrap-reverse">
            <div class="card h-100 list-user-container">
                <div class="card-body overflow-auto">
                    <ul #listusers class="list-group list-group-light">
                        <li *ngFor="let user of userList; let i = index" class="list-group-item" [attr.username]="user.username">
                            <app-user-panel [user]="user" (deleteMeEvent)="deleteUserHandler(user)"></app-user-panel>
                        </li>
                    </ul>
                </div>
                <div class="card-footer d-flex flex-row align-items-end p-3 align-items-center">
                    <button type="button" class="btn btn-tertiary d-flex align-items-center mx-2 my-0 py-0" (click)="refreshHandler()">
                        <span #refreshbutton><fa-icon class="fs-5" [icon]="refresh"></fa-icon></span>
                        <span class="refresh-label ms-1">Refresh</span>
                    </button>
                    <div class="d-flex justify-content-end flex-grow-1"><a class="btn btn-info" hidden
                        (click)="identifyVisibleUsers()">test getting visible users</a></div>
                    <div class="d-flex justify-content-end flex-grow-1"><a class="btn btn-info"
                            (click)="createHandler()">Add a new user</a></div>
                </div>
            </div>
        </div>
    </div>
</div>