@import "/node_modules/mdb-angular-ui-kit/assets/scss/free/variables";
@import "../../assets/style/variables";
@import "../../assets/style/common";

:host{
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dashboard-container{
    overflow: hidden;
}

.list-user-container{
    max-width: 600px;
}

.card-footer{
    fa-icon{
        color: lightgray;
    }
    .refresh-label{
        margin-top: 2px;
        color:  lightgray;
    }
}