<div class="dashboard-container d-flex h-100 align-items-center">
    <div class="p-2 align-self-center">
        <div class="app-name">
            list Users
        </div>
    </div>
    <div class="w-100 h-100 p-3 d-flex">
        <div class="mx-auto p-3 w-100 h-100 align-self-center d-flex flex-column align-items-stretch flex-wrap-reverse">            
            <div class="card h-100 list-user-container">
                <div class="card-body overflow-auto">
                    <ul class="list-group list-group-light">
                        <li *ngFor="let item of [].constructor(10); let i = index" class="list-group-item">
                            <div class="d-flex">
                                <app-talking-avatar [position]="QuotePosition.ABOVE"></app-talking-avatar>
                                <div class="p-2 fw-bolder color-main">achraf.karimi</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer d-flex flex-row-reverse align-items-end p-3 ">
                    <a href="#" class="btn btn-info">Add a new user</a>
                </div>
            </div>
        </div>
    </div>
</div>