<div class="d-flex">
    <app-talking-avatar #talker [position]="QuotePosition.ABOVE" [animal]="user.avatar" [username]="user.username"
        [disabled]="!!user.disabled"></app-talking-avatar>
    <div class="ms-2 p-2 fw-bolder color-main" [ngClass]="{'shortened' : showConfirm, 'disabled': user.disabled}">
        {{user.username}}</div>
    <ng-container [ngSwitch]="showConfirm">
        <div *ngSwitchCase="false" class="d-flex justify-content-end flex-grow-1 user-actions">
            <button type="button" class="btn btn-tertiary mx-2" mdbRipple (click)="editHandler()">
                <fa-icon class=" fa-lg" [icon]="edit"></fa-icon>
            </button>
            <button *ngIf="!user.disabled" type="button" class="btn btn-tertiary mx-2" (click)="disableHandler()">
                <fa-icon class=" fa-lg" [icon]="disable"></fa-icon>
            </button>
            <button *ngIf="user.disabled" type="button" class="btn btn-tertiary mx-2" (click)="enableHandler()">
                <fa-icon class=" fa-lg" [icon]="enable"></fa-icon>
            </button>
            <button type="button" class="btn btn-tertiary ms-2" (click)="deleteHandler()">
                <fa-icon class=" fa-lg" [icon]="delete"></fa-icon>
            </button>

        </div>
        <div *ngSwitchCase="true" class="d-flex justify-content-end flex-grow-1 align-items-center">
            <div [ngSwitch]="action" class="me-2 user-confirmation">
                <div *ngSwitchCase="UserAction.DELETE_USER" class="warning">Confirm deletion?</div>
                <div *ngSwitchCase="UserAction.DISABLE_USER">Disable user?</div>
                <div *ngSwitchCase="UserAction.ENABLE_USER">Enable user?</div>
            </div>
            <button type="button" class="btn btn-dark btn-sm me-1" (click)="confirmHandler()">Yes</button>
            <button type="button" class="btn btn-dark btn-sm" (click)="cancelHandler()">No</button>
        </div>
    </ng-container>
</div>