.user-actions{
    button{
        color:lightgrey;
    }
}

:host:hover{
    .user-actions{
        button{
            color:dimgray;
        }
    }
}

.shortened{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}