.user-actions{
    button{
        color:lightgrey;
    }
}

:host:hover{
    .user-actions{
        button{
            color:dimgray;
        }
    }
}

.user-confirmation{
    font-size: 0.9rem;
    .warning{
        color: orangered;
    }
}

.shortened{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.disabled{
    color:lightgray;
}