@import "/node_modules/mdb-angular-ui-kit/assets/scss/free/variables";
@import "../../../assets/style/variables";

$animal-size:40px;
$frame-size:45px;

:host[loggedin]{
    .frame{
        border-color: $color-3;
    }
}

.animal{
    width: $animal-size;
    height: $animal-size;
    min-width: $animal-size;
    min-height: $animal-size;
    position: relative;
}

.frame{
    height: $frame-size;
    width: $frame-size;
    background: white;
    position: absolute;
    left: ($animal-size - $frame-size)/2;
    top: ($animal-size - $frame-size)/2;
    border-radius: $frame-size;
    border-color: #ccf2f6;
    border-style: solid;
}

$box-shadow-line:1px;
.quote-under{
    z-index: 50;
    top: 0px;
    left: 0px;
    .quote-text{
        font-size: 0.8rem;
        top: $frame-size+10;
        right:$frame-size+10;
        color : $orange-400;
        font-weight: bold;
        background: white;
        border-radius:  15px 0px 15px 15px;
        padding: 5px 10px;
        border: 3px solid;
        position: absolute;
        box-shadow: $box-shadow-line (-$box-shadow-line) white, 
                    -$box-shadow-line (-$box-shadow-line) white, 
                    -$box-shadow-line $box-shadow-line white, 
                    $box-shadow-line $box-shadow-line white;
    }
}

.quote-above{
    z-index: 50;
    top: 0px;
    left: 0px;
    .quote-text{
        font-size: 0.8rem;
        width: fit-content;
        top: -17px;
        left:$frame-size - 7px;
        color : $orange-400;
        font-weight: bold;
        background: white;
        border-radius:  15px 15px 15px 0px;
        padding: 5px 10px;
        border: 3px solid;
        position: relative;
        box-shadow: $box-shadow-line (-$box-shadow-line) white, 
                    -$box-shadow-line (-$box-shadow-line) white, 
                    -$box-shadow-line $box-shadow-line white, 
                    $box-shadow-line $box-shadow-line white;
    }
}