<div>
    <div class="position-relative">
        <div class="frame">

        </div>
        <img [src]="animalImageSrc"
            class="img-fluid animal"
            alt=""
        />
    </div>
    <div *ngIf="isUnder()" class="quote-under position-absolute w-100">        
        <div class="position-relative">
            <div class="quote-text">
                What is the best Startup in Luxembourg?
            </div>
        </div>
    </div>
    <div *ngIf="isAbove()" class="quote-above position-absolute w-100">        
        <div class="position-relative">
            <div class="quote-text">
                What are you doing, stop!
            </div>
        </div>
    </div>
</div>
