<div>
    <div class="position-relative" [ngClass]="{'disabled': disabled}">
        <div class="frame">
        </div>
        <img [src]="animalImageSrc"
            class="img-fluid animal"
            alt=""
        />
    </div>
    <div #underquote *ngIf="isUnder()" [ngClass]="{'mute':!text}" class="quote-under position-absolute w-100 ">        
        <div class="position-relative">
            <div class="quote-text">
                {{text}}
            </div>
        </div>
    </div>
    <div #abovequote *ngIf="isAbove()" [ngClass]="{'mute':!text}"   class="quote-above position-absolute w-100">        
        <div class="position-relative">
            <div class="quote-text">
                {{text}}
            </div>
        </div>
    </div>
</div>
